@font-face {
  font-family: Outfit;
  src: url('../fonts/Outfit/static/Outfit-Regular.ttf');
  font-stretch: normal;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Outfit;
  src: url('../fonts/Outfit/static/Outfit-Bold.ttf');
  font-stretch: normal;
  font-weight: 700;
  font-style: normal;
}

body {
  background-color: hsl(212, 45%, 89%);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 130px;
  font-size: 15px;
}

main {
  background-color: white;
  width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px 0 16px 0;
  border-radius: 20px;
}

.main-container {
  width: 286px;
}


img {
  width: 286px;
  object-fit: contain;
  border-radius: 10px;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

h2 {
  color: hsl(218, 44%, 22%);
  font-family: Outfit;
  font-weight: 700;
  line-height: 26px;
  margin: 20px 0 15px 0;
}

p {
  color: hsl(220, 15%, 55%);
  font-family: Outfit;
  font-weight: 400;
  margin: 5px 0 20px 0;
  line-height: 20px;
}

span {
  display: block;
}