@font-face {
  font-family: OpenSans;
  src: url('../fonts/Open_Sans/static/OpenSans-Regular.ttf');
  font-stretch: normal;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Poppins;
  src: url('../fonts/Poppins/Poppins-Bold.ttf');
  font-stretch: normal;
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Poppins;
  src: url('../fonts/Poppins/Poppins-ExtraBold.ttf');
  font-stretch: normal;
  font-weight: 800;
  font-style: normal;
}

* {
  margin: 0;
  color: white;
}

body {
  background: hsl(257, 40%, 49%) url('../images/bg-desktop.svg') no-repeat top left;
  background-size: 1700px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

header {
  display: flex;
  align-items: center;
  padding: 64px 0 0 130px;
  width: 88%;
}

#chatbox-icon {
  margin-right: 8px;
}

header h1 {
  font-family: Poppins;
  font-weight: 800;
  font-size: 40px;
}

header svg,
footer svg {
  width: 40px;
  height: 40px;
}

main {
  display: flex;
  align-items: center;
  padding: 90px 0 0 100px;
  width: 88%;
}

main img {
  width: 50%;
  margin-right: 60px;
}

.info {
  margin-bottom: 140px;
}

.info h1 {
  font-family: Poppins;
  font-weight: 700;
  font-size: 40px;
  word-spacing: 4px;
}

p {
  font-family: OpenSans;
  font-size: 18px;
  line-height: 28px;
  margin: 40px 0 28px 0;
}

span {
  display: block;
}

button {
  padding: 15px 67px;
  background: white;
  border: none;
  border-radius: 30px;
  box-shadow: 6px 6px 10px rgba(70, 70, 70, 0.8);
  color: hsl(257, 40%, 49%);
  font-family: OpenSans;
  font-size: 18px;
  cursor: pointer;
  transition: background-color .2s,
    color .2s;
}

button:hover {
  background: hsl(300, 69%, 71%);
  color: white;
}

footer {
  width: 88%;
  padding-top: 40px;
  display: flex;
  justify-content: flex-end;
  margin-right: 400px;
}

footer svg {
  margin-left: 18px;
  cursor: pointer;
}

svg path {
  fill: white;
  transition: fill .2s;
}

footer svg path:hover {
  fill: hsl(300, 69%, 71%);
}
