main {
  display: flex;
  align-items: center;
  padding: calc(1rem + 6%) 5% 0 100px;
}

main img {
  width: max(60%, 250px);
  margin-right: 3.75rem;
}

.info {
  margin-bottom: 5%;
}

@media (width < 75rem) {
  main {
    flex-direction: column;
    padding: 3rem 1rem 1rem 1rem;
    text-align: center;
  }

  main img {
    margin: 0;
  }
}

h1 {
  font-family: Poppins;
  font-size: min(calc(1.1rem + 2vw), 40px);
  word-spacing: 4px;
  max-width: 550px;
}

p {
  font-family: OpenSans;
  font-size: 18px;
  line-height: 28px;
  margin: 40px 0 28px 0;
  max-width: 520px;
}

button {
  width: 200px;
  height: 55px;
  background: white;
  border: none;
  border-radius: 30px;
  box-shadow: 6px 6px 10px rgba(70, 70, 70, 0.8);
  color: hsl(257, 40%, 49%);
  font-family: OpenSans;
  font-size: 18px;
  cursor: pointer;
  transition: background-color .2s,
    color .2s;
}

@media (width < 75rem) {
  main img {
    margin-bottom: 3rem;
  }

  p {
    margin: 20px 0 28px 0;
  }

  button {
    width: 260px;
    height: 53px;
  }
}

button:hover {
  background: hsl(300, 69%, 71%);
  color: white;
}