@font-face {
  font-family: LeagueSpartan;
  src: url('../fonts/League_Spartan/static/LeagueSpartan-Regular.ttf');
  font-stretch: normal;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: LeagueSpartan;
  src: url('../fonts/League_Spartan/static/LeagueSpartan-Medium.ttf');
  font-stretch: normal;
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: LeagueSpartan;
  src: url('../fonts/League_Spartan/static/LeagueSpartan-Bold.ttf');
  font-stretch: normal;
  font-weight: 700;
  font-style: normal;
}

* {
  margin: 0;
  font-family: LeagueSpartan;
}

body {
  background-image: url('../images/bg-pattern-top-mobile.svg'), url('../images/bg-pattern-bottom-mobile.svg');
  background-position: top, bottom;
  background-repeat: no-repeat, no-repeat;
  padding: calc(1.5rem + 2%);
}

@media (width > 51rem) {
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: none;
  }
}

@media (width > 75rem) {
  body {
    background-image: url('../images/bg-pattern-top-desktop.svg'), url('../images/bg-pattern-bottom-desktop.svg');
    background-position: top left, top right;
    background-repeat: no-repeat, no-repeat;
    background-size: 1000px 1000px;
  }
}

p {
  font-weight: 500;
}

h2 {
  font-size: 16px;
}