@font-face {
  font-family: Manrope;
  src: url('../fonts/Manrope/static/Manrope-Medium.ttf');
  font-stretch: normal;
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Manrope;
  src: url('../fonts/Manrope/static/Manrope-Bold.ttf');
  font-stretch: normal;
  font-weight: 700;
  font-style: normal;
}

* {
  margin: 0;
  font-family: Manrope;
}

body {
  background: hsl(210, 46%, 95%);
  display: flex;
  justify-content: center;
  padding-top: 150px;
}

main {
  background: white;
  border-radius: 12px;
  display: flex;
}

h3,
h5 {
  color: hsl(217, 19%, 35%);
}

h3 {
  font-size: 20px;
}

p {
  font-size: 13px;
  font-weight: 500;
}

.description {
  color: hsl(214, 17%, 51%);
  margin: 19px 0 22px 0;
  line-height: 21px;
}

#drawers {
  border-radius: 12px 0 0 12px;
  width: 286px;
  object-fit: cover;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 40px;
}

.creator {
  display: flex;
  align-items: center;
}

.avatar {
  border-radius: 20px;
  width: 40px;
  height: 40px;
}

.creator-name-date {
  display: flex;
  flex-direction: column;
  margin: 0 163px 0 17px;
  line-height: 20px;
}

#share-container {
  position: relative;
}

#share-icon-container {
  background: hsl(210, 46%, 95%);
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 32px;
  height: 32px;
  transition: opacity .2s,
    background-color .2s;
}

#share-icon-container:hover {
  background: hsl(210, 46%, 90%);
}
#share-icon-container:active {
  background: hsl(210, 46%, 85%);
}