main {
  background: white;
  border-radius: 12px;
  display: flex;
}

@media (width < 50rem) {
  main {
    flex-direction: column;
    max-width: 340px;
  }
}

h1,
h5 {
  color: hsl(217, 19%, 35%);
}

h1 {
  font-size: 20px;
}

p {
  font-size: 13px;
  font-weight: 500;
}

.drawers {
  border-radius: 12px 0 0 12px;
  width: 286px;
  object-fit: cover;
}

@media (width < 50rem) {
  .drawers {
    width: 100%;
    height: 200px;
    border-radius: 12px 12px 0 0;
  }
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 40px;
}

@media (width < 50rem) {
  h1 {
    font-size: 18px;
  }

  .info {
    margin: 28px;
  }
}

.description {
  color: hsl(214, 17%, 51%);
  margin: 19px 0 22px 0;
  line-height: 21px;
}

@media (width < 50rem) {
  .description {
    margin-right: 28px;
  }
}

@media (width > 50rem) {
  .desktop-br {
    display: block;
  }
}

.creator {
  display: flex;
  align-items: center;
}

.avatar {
  border-radius: 20px;
  width: 40px;
  height: 40px;
}

.creator-name-date {
  display: flex;
  flex-direction: column;
  margin: 0 163px 0 17px;
  line-height: 20px;
}

@media (width < 50rem) {
  .creator-name-date {
    margin-right: 3.7rem;
    margin-top: 10px;
  }
}

#share-container {
  position: relative;
}

#share-icon-container {
  background: hsl(210, 46%, 95%);
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 32px;
  height: 32px;
  transition: opacity .2s,
    background-color .2s;
}

#share-icon-container:hover {
  background: hsl(210, 46%, 90%);
}
#share-icon-container:active {
  background: hsl(210, 46%, 85%);
}