footer {
  display: grid;
  gap: 30px;
}

@media (width > 60rem) {
  footer {
    grid-template-columns: 1fr 1fr 1fr;
    grid-column: span 2;
  }
}

article {
  display: flex;
  gap: 20px;
}

article img {
  width: 100px;
  height: 129px;
}

.article-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.number {
  color: hsl(233, 8%, 79%);
  font-size: 32px;
  font-weight: 700;
  line-height: 1;
}

h4 {
  color: hsl(240, 100%, 5%);
  font-size: 18px;
  font-weight: 800;
}

p {
  color: hsl(236, 13%, 42%);
}