:root {
  --heading-clr: hsl(240, 100%, 5%);
  --paragraph-clr: hsl(236, 13%, 42%);
  --button-clr: hsl(5, 85%, 63%);
}

.main-article {
  max-width: 730px;
}

h1,
.image-bg,
.main-article p {
  margin-bottom: 20px;
}

.image-bg {
  background: url('../images/image-web-3-mobile.jpg');
  width: 340px;
  height: 297px;
  background-position: top center;
  background-size: cover;
}

@media (width > 50rem) {
  .image-bg {
    background: url('../images/image-web-3-desktop.jpg');
    width: 730px;
    height: 300px;
    background-size: cover;
  }

  .artice-info {
    display: flex;
  }
}

h1 {
  font-size: 42px;
  color: var(--heading-clr);
  font-weight: 800;
  line-height: 1;
  flex: 1.1;
}

@media (width > 50rem) {
  h1 {
    font-size: 3.5rem;
  }

  .article-preview {
    flex: 1;
  }
}

.article-preview p {
  color: var(--paragraph-clr);
  line-height: 1.6;
}

@media (width > 50rem) {
  .article-preview p {
    margin-bottom: 30px;
  }
}

.read-more-button {
  background: var(--button-clr);
  border: none;
  width: 185px;
  height: 48px;
  color: hsl(36, 100%, 99%);
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 4px;
  margin-bottom: 60px;
  cursor: pointer;
  transition: background-color .15s;
}

.read-more-button:hover {
  background: hsl(240, 100%, 5%);
}