@font-face {
  font-family: Poppins;
  src: url('../fonts/Poppins/Poppins-Regular.ttf');
  font-stretch: normal;
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Poppins;
  src: url('../fonts/Poppins/Poppins-Medium.ttf');
  font-stretch: normal;
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: Poppins;
  src: url('../fonts/Poppins/Poppins-SemiBold.ttf');
  font-stretch: normal;
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: Poppins;
  src: url('../fonts/Poppins/Poppins-Bold.ttf');
  font-stretch: normal;
  font-weight: 700;
  font-style: normal;
}

* {
  font-family: Poppins;
  margin: 0;
  color: white;
}

body {
  background: hsl(0, 100%, 74%) url('../images/bg-intro-desktop.png');
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 120px;
}