:root {
  --very-dark-blue: hsl(229, 57%, 11%);
  --pale-blue: hsl(243, 100%, 93%);
  --grayish-blue: hsl(229, 7%, 55%);
  --dark-blue: hsl(228, 56%, 26%);

  --brdr-radius: 10px;
  --brdr-radius-bar: 15px;

  --padd: 1.5rem;
}

@media (width > 50rem) {
  main {
    display: flex;
    justify-content: center;
    gap: 2.5rem;
  }
}

.first-section {
  background: var(--dark-blue);
  border-radius: 10px;
  border-top-right-radius: 50%;
  padding: calc(var(--padd) + 2%);
  max-width: 350px;
  margin-bottom: 20px;

}

@media (width > 50rem) {
  .first-section {
    margin-bottom: 0;
    flex: 1;
  }
}

.logo-container {
  margin-bottom: 25px;
}

.actions {
  display: flex;
  gap: 15px;
  margin-bottom: 15px;
}

.action-container {
  background: var(--very-dark-blue);
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--brdr-radius);
}

.stats {
  background: var(--dark-blue);
  padding: 2rem var(--padd) 4rem var(--padd);
  border-radius: var(--brdr-radius);
  position: relative;
  max-width: 700px;
}

@media (width > 50rem) {
  .stats {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 2rem;
    height: 200px;
    margin-top: 3%;
  }
}

.storage-info {
  padding: 0 8px 0 8px;
  margin-bottom: 16px;
}

.storage-bar-container {
  background-color: hsl(229, 57%, 18%);
  width: 100%;
  border-radius: var(--brdr-radius-bar);
  height: 20px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.storage-bar {
  background: linear-gradient(hsl(6, 100%, 80%), hsl(335, 100%, 65%));
  color: white;
  text-align: right;
  width: 81%;
  height: 14px;
  border-radius: var(--brdr-radius-bar);
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.bar-dot {
  margin: 0 1px 2px 0;
}

.to-white {
  color: white;
  font-weight: 600;
}

.counter {
  display: flex;
  justify-content: space-between;
  font-weight: 600;
}

.free-space-left {
  position: absolute;
  background: white;
  border-radius: var(--brdr-radius);
  padding: .8rem 1.1rem;
  display: flex;
  align-items: center;
  gap: 10px;
  bottom: -12%;
  left: 21%;
  width: 170px;
}

@media (width > 72rem) {
  .free-space-left {
    border-bottom-right-radius: 0;
    bottom: 86%; 
    left: 67%;
    width: 200px;
  }
  
  .free-space-left::before {
    content: "";
    position: absolute;
    top: 90%;
    right: 0;
    width: 0;
    height: 0;
    border-right: 0px solid transparent;
    border-top: 26px solid white;
    border-left: 28px solid transparent;
  }
}

.amount-gb-left,
.to-gray {
  font-weight: 700;
  display: inline;
}

.amount-gb-left {
  color: var(--very-dark-blue);
  font-size: 42px;
}

.to-gray {
  color: var(--grayish-blue);
  font-size: 12px;
  letter-spacing: 1px;
}

/* 
.talkbubble {
  background: hsl(217, 19%, 37%);
  position: relative;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 248px;
  height: 55px;
}

.talkbubble:before {
  content: "";
  position: absolute;
  top: 90%;
  right: 40%;
  width: 0;
  height: 0;
  border-right: 18px solid transparent;
  border-top: 20px solid hsl(217, 19%, 37%);
  border-left: 18px solid transparent;
} */