body {
  height: 3000px;
  margin: 0;
  font-family: sans-serif;
}

.sidebar {
  position: fixed;
  right: 0px;
  bottom: 0px;
  top: 0px;
  width: 100px;
  background-color: lightgreen;
}

.cover-page {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  width: 300px;
  border-radius: 10px;
  background-color: white;
  padding-left: 10px;
  padding-bottom: 10px;
}