footer {
  background: rgb(144, 212, 197);
}

.footer__contact {
  text-align: center;
  padding: 3rem 1.5rem 4rem 1.5rem;
}

.footer__navbar {
  color: hsl(168, 34%, 41%);
  margin: 2rem 0 4rem 0;
}

.navbar__list--footer {
  padding: 0;
  display: flex;
  justify-content: space-around;
  font-size: 18px;
}

.li-on-hover {
  transition: .15s;
}

.li-on-hover:hover {
  color: white;
}

@media (width > 50rem) {
  .footer__contact {
    padding: 4.5rem 0 5rem 0;
  }
  
  .navbar__list--footer {
    justify-content: center;
    gap: 3rem;
  }
}

.footer__apps-icons {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.app-icon {
  cursor: pointer;
  transition: .15s;
}

.app-icon:hover path{
  fill: white;
}