header {
  background: url('../images/mobile/image-header.jpg') no-repeat;
  background-size: 100%;
  text-align: center;
}

@media (width < 22rem) {
  header {
    background-image: url('../images/desktop/image-header.jpg');
    background-size: 100% 100%;
  }
}

@media (width > 33rem) {
  header {
    background-image: url('../images/desktop/image-header.jpg');
    background-size: 100% 100%;
  }
}

@media (width > 57rem) and (width < 80rem) {
  header {
    background-image: url('../images/desktop/image-header.jpg');
    background-size: 100%;
  }
}

@media (width > 80rem) {
  header {
    background-image: url('../images/desktop/image-header.jpg');
    background-size: 100% 850px;
  }
}

.header__navbar {
  display: flex;
  justify-content: space-between;
  padding: 2rem 1.2rem;
  margin-bottom: 2rem;
  align-items: center;
}

@media (width > 80rem) {
  .header__logo {
    width: 10%;
  }
}

@media (width < 40rem) {
  .navbar__list--header {
    display: none;
  }
}

.navbar__list {
  list-style: none;
  font-weight: 600;
  font-family: Barlow;
}

.navbar__list--header {
  gap: 3rem;
  color: white;
  align-items: center;
}

.li-contact {
  background-color: white;
  color: hsl(212, 27%, 19%);
  font-weight: 700;
  font-family: Fraunces;
  padding: 1rem 1.8rem;
  border-radius: 3rem;
  transition: .15s;
}

.li-contact:active {
  background-color: rgb(27, 202, 255);
  color: white;
}

.navbar__list--mb {
  display: grid;
  grid-template-columns: 136px;
  gap: 2rem;
  color: hsl(232, 10%, 55%);
  font-size: 19px;
}

@media (width < 40rem) {
  .navbar__list {
    padding: 0;
  }
  
  .li-contact {
    background-color: hsl(51, 100%, 49%);
    font-size: 16px;
  }
}

#mb-menu {
  width: 20rem;
  height: 19rem;
  background: white;
  position: absolute;
  right: 28px;
  top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#mb-menu:before {
  content: "";
  position: absolute;
  right: 0;
  top: -26px;
  width: 0;
  height: 0;
  border-left: 28px solid transparent;
  border-bottom: 26px solid white;
}

@media (width > 40rem) {
  .navbar__list--header {
    display: flex;
  }
}

h1 {
  color: white;
  font-family: Fraunces;
  font-weight: 900;
  letter-spacing: 6px;
  padding: 0 .5rem;
  font-size: 2.5rem;
}

.arrow-down {
  color: white;
  font-size: 8rem;
  padding: calc(3.5rem + 1%) 0 calc(3.5rem + 5%);
}

.hamburger-menu-button {
  background: transparent;
  border: none;
  cursor: pointer;
}

@media (width > 40rem) {
  .hamburger-menu-button {
    display: none;
  }
}