header {
  background: url('../images/mobile/image-header.jpg') no-repeat;
  background-size: 100%;
  text-align: center;
}

@media (width < 22rem) {
  header {
    background-image: url('../images/desktop/image-header.jpg');
    background-size: 100% 100%;
  }
}

@media (width > 33rem) {
  header {
    background-image: url('../images/desktop/image-header.jpg');
    background-size: 100% 100%;
  }
}

@media (width > 57rem) and (width < 80rem) {
  header {
    background-image: url('../images/desktop/image-header.jpg');
    background-size: 100%;
  }
}

@media (width > 80rem) {
  header {
    background-image: url('../images/desktop/image-header.jpg');
    background-size: 100% 850px;
  }
}

.header__navbar {
  display: flex;
  justify-content: space-between;
  padding: 2rem 1.2rem;
  margin-bottom: 2rem;
  align-items: center;
}

@media (width > 80rem) {
  .header__logo {
    width: 10%;
  }
}

@media (width < 40rem) {
  .navbar__list--header {
    display: none;
  }
}

.navbar__list--header {
  list-style: none;
  color: white;
  font-weight: 600;
  font-family: Barlow;
  gap: 3rem;
  align-items: center;
}

.li-contact {
  background-color: white;
  color: hsl(212, 27%, 19%);
  font-weight: 700;
  font-family: Fraunces;
  padding: 1rem 1.8rem;
  border-radius: 3rem;
}

@media (width > 40rem) {
  .navbar__list--header {
    display: flex;
  }
}

h1 {
  color: white;
  font-family: Fraunces;
  font-weight: 900;
  letter-spacing: 6px;
  padding: 0 .5rem;
  font-size: 2.5rem;
}

.arrow-down {
  color: white;
  font-size: 8rem;
  padding: 3.5rem 0 calc(3.5rem + 5%);
}

.hamburger-menu-button {
  background: transparent;
  border: none;
  cursor: pointer;
}

@media (width > 40rem) {
  .hamburger-menu-button {
    display: none;
  }
}
