header {
  background: url('../images/bg-header-mobile.png') no-repeat;
}

@media (width > 375px) {
  header {
    background-image: url('../images/bg-header-desktop.png');
    background-size: 100vw 25vw;
  }
}

.logo {
  margin: 3rem 0;
}

@media (width < 40rem) {
  .logo {
    width: 115px;
  }
}

@media (width > 40rem) {
  .header__title {
    font-size: 3rem;
  }
}

.buttons-container {
  display: grid;
  gap: 1.5rem;
  max-width: 520px;
  margin: 0 auto;
}

@media (width > 40rem) {
  .buttons-container {
    display: flex;
    gap: 0;
    justify-content: center;
  }  
}