body {
  height: 3000px;
  margin: 0;
  padding-top: 60px;
  padding-left: 90px;
}

.header {
  background-color: rgb(255, 49, 150);
  color: white;
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
  height: 50px;
  z-index: 100;
}

.sidebar {
  background-color: rgb(158, 238, 39);
  position: fixed;
  bottom: 0px;
  left: 0px;
  top: 50px;
  width: 80px;
}

.absolute {
  position: absolute;
  background-color: rgb(250, 115, 19);
  top: 60px;
  right: 15px;
}

.close {
  position: absolute;
  background-color: rgb(250, 115, 19);
  top: 0px;
  right: 0px;
}

.five {
  position: absolute;
  background-color: black;
  color: white;
  bottom: 10px;
  right: 10px;
}

.f {
  background-color: lightblue;
  width: 200px;
  height: 200px;
}

.s {
  background-color: lightpink;
  width: 200px;
  height: 200px;
  position: relative;
}
