footer {
  background: hsl(192, 100%, 9%);
  color: white;
  padding: 8rem 1rem 3rem 1rem;
  margin-top: calc(3rem + 5%);
}

@media (width > 60rem) {
  .display-flex-row {
    display: flex;
    justify-content: space-around;
  }

  .footer__logo {
    margin-bottom: 2rem;
  }
}

@media (width > 78rem) {
  .footer__logo {
    margin-left: 6.5%;
  }
}

.contact__info-grid {
  display: grid;
  margin: 2rem 1rem 4rem 1rem;
  gap: 1.5rem;
  max-width: 420px;
}

@media (width > 60rem) {
  .contact__info-grid {
    margin: 0;
  }
}

.contact__container {
  display: flex;
  gap: 1.1rem;
}

.contact__img {
  height: 20px;
}

.contact__img--location {
  margin: .5rem .5rem 0 0;
}

.nav-panel {
  display: grid;
  gap: 1.2rem;
  margin-bottom: 4rem;
}

.left-links,
.right-links {
  display: grid;
  gap: 1.2rem;
}

a {
  text-decoration: none;
  color: white;
  font-size: 18px;
}

a:active {
  text-decoration: underline;
}

@media (width > 60rem) {
  .nav-panel {
    display: flex;
    gap: 2rem;
    flex: 1;
    max-width: 400px;
  }

  .left-links,
  .right-links {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    flex: 1;
  }

  .icons-copyright-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }
}

.icons-container {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin-bottom: 2rem;
}

.icon {
  width: 40px;
  height: 40px;
  border: 1px solid white;
  border-radius: 21px;
  cursor: pointer;
}

.icon:active {
  border-color: hsl(322, 100%, 66%);
}

.icon__share-app {
  width: 22px;
  margin: 8px;
}

path {
  fill: white;
}

path:active {
  fill: hsl(322, 100%, 66%);
}

.icon,
path {
  transition: .15s;
}

.copyright {
  font-size: 14px;
  text-align: center;
}